.pageTwo {
  padding: 20px 40px;
  font-family: "Manrope";

  .consultantOpinion {
    background-color: #fdfaf1;

    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      font-size: 12px;

      .icon {
        display: inline-block;
        margin-right: 10px;
        font-size: 20px;
        color: #444;
      }
    }
  }
  .consultantTitle {
    display: flex;
    gap: 15px;

    span {
      font-family: Manrope;
      font-size: 12px;
      font-weight: 700;
      line-height: 16.39px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }
  .text {
    font-family: "Manrope";
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #6f6f6f;
    letter-spacing: 0.2;
  }
}

.summary {
  .heading {
    font-size: 14px;
    font-weight: 800;
    line-height: 19.12px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #191916;
  }

  .subHeading {
    font-size: 12px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #202123;
  }

  .text {
    font-family: "Manrope";
    font-size: 10px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #353535;
    letter-spacing: 0.1;
    margin-bottom: 10px;
  }
}
